APP_NAME=Sintoniza
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
APP_LOCALE=en

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sintoniza
DB_USERNAME=root
DB_PASSWORD=

MAIL_HOST: 127.0.0.1
MAIL_PORT: 587
MAIL_USERNAME: null
MAIL_PASSWORD: null
MAIL_SCHEME: tls
MAIL_FROM_ADDRESS:
MAIL_FROM_NAME: "${APP_NAME}"

ENABLE_SUBSCRIPTIONS=false
IMMEDIATE_FEED_FETCH=true
PODCAST_INDEX_API_KEY=
PODCAST_INDEX_API_SECRET=
PODCAST_INDEX_USE_AS_PRIMARY=true
PODCAST_INDEX_FALLBACK_TO_RSS=true
